# Analysing Ad Budgets for different media channels
#### DESCRIPTION

##### Problem:

The given dataset contains ad budgets for different media channels and the corresponding ad sales of XYZ firm. Evaluate the dataset to:

Find the features or media channels used by the firm

Find the sales figures for each channel

Create a model  to predict the sales outcome

Split as training and testing datasets for the model

Calculate the Mean Square Error (MSE)

In [1]:
import pandas as pd

In [2]:
advert = pd.read_csv('Advertising Budget and Sales.csv',index_col=0)

In [3]:
advert.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [4]:
advert.size

800

In [5]:
advert.shape

(200, 4)

In [6]:
advert.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [7]:
X_feature  = advert[['TV Ad Budget ($)','Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]
X_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [8]:
Y_target = advert[['Sales ($)']]
Y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [9]:
X_feature.shape

(200, 3)

In [10]:
Y_target.shape

(200, 1)

In [11]:
from sklearn.model_selection import cross_validate

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(X_feature,Y_target,random_state=42)

In [15]:
x_train.shape

(150, 3)

In [16]:
x_test.shape

(50, 3)

In [17]:
y_train.shape

(150, 1)

In [18]:
y_test.shape

(50, 1)

In [19]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(x_train,y_train)

LinearRegression()

In [21]:
print(lm.intercept_)

[2.77830346]

In [22]:
print(lm.coef_)

[[0.04543356 0.19145654 0.00256809]]

In [24]:
y_pred = lm.predict(x_test)
y_pred

array([[16.38348211],
       [20.92434957],
       [21.61495426],
       [10.49069997],
       [22.17690456],
       [13.02668085],
       [21.10309295],
       [ 7.31813008],
       [13.56732111],
       [15.12238649],
       [ 8.92494113],
       [ 6.49924401],
       [14.30119928],
       [ 8.77233515],
       [ 9.58665483],
       [12.09485291],
       [ 8.59621605],
       [16.25337881],
       [10.16948105],
       [18.85753401],
       [19.5799036 ],
       [13.15877029],
       [12.25103735],
       [21.35141984],
       [ 7.69607607],
       [ 5.64686906],
       [20.79780073],
       [11.90951247],
       [ 9.06581044],
       [ 8.37295611],
       [12.40815899],
       [ 9.89416076],
       [21.42707658],
       [12.14236853],
       [18.28776857],
       [20.18114718],
       [13.99303029],
       [20.89987736],
       [10.9313953 ],
       [ 4.38721626],
       [ 9.58213448],
       [12.6170249 ],
       [ 9.93851933],
       [ 8.06816257],
       [13.45497849],
       [ 5.25769423],
       [ 9.15399537],
       [14.09552838],
       [ 8.71029827],
       [11.55102817]])

In [26]:
from sklearn import metrics
import numpy as np

In [29]:
MSE = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
print('Mean Squared Error is', MSE)

Mean Squared Error is 1.6970632663793628